@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-smoll: 18px;
    --font-medium: 20px;
    --font-big: 30px;
    --font-large: 40px;
}

* {
    padding: 0;
    margin: 0;
}

.banner-contaner {
    background: #1E1E1E;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 66px;
    margin-bottom: 75px;
}

.brand {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FD6F00;

}

.manu a {
    padding: 10px 14px;
    text-decoration: none;
    font-family: Rubik;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.89px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;

}

.manu .downlode-btn {
    background: #FD6F00;

}

.banar {
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    margin: 0 200px;
}

.right {
    width: 60%;
}

.left {
    width: 0%;
}

.right h1 {
    font-family: Rubik;
    font-size: 40px;
    font-weight: 800;
    line-height: 47.4px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FFFFFF;
}

.right .ctg {
    color: #FD6F00;
}

.right .bio {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    letter-spacing: 0.03em;
    text-align: justified;
    color: #FFFFFF80;
    margin-bottom: 25px;
}

.right .skill {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.skill p {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.44px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding: 0 10px;

}

.banar .left img {
    width: 300px;
    height: 300px;
    top: 177px;
    left: 759px;
    gap: 0px;
    opacity: 0px;

}

.banner-btn-inline {
    display: inline-block;
}

.banner-btn {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    padding-left: 7px;
    border-radius: 50px;
    border: 2px solid wheat;
    margin-bottom: 30px;
    background: #454545ab;

}

.btn1 {
    display: flex;
    align-items: center;
    background: #FD6F00;
    padding: 08px 30px;
    border-radius: 30px;
    margin-right: 30px;
}

.btn1 a {
    font-family: Rubik;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;


}

.btn2 a {
    font-family: Rubik;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}

.banner-social-ion {
    margin-bottom: 30px;
}

.banner-social-ion a {
    margin-right: 20px;

}

.about-section {
    display: flex;
    justify-content: space-around;
    padding: 0 13%;
}

.about-hedding h3 {
    font-family: Rubik;
    color: #ffff;
    font-size: var(--font-big);
}

.about-hedding {
    width: 50%
}

.about-retting {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-bio {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    letter-spacing: 0.03em;
    text-align: justified;
    color: #FFFFFF80;
}

.retting-head {

    font-family: Rubik;
    color: #ffff;
    font-size: var(--font-big);
}

.experince {
    font-family: Rubik;
    color: #FFFF;
    font-size: var(--font-smoll);
}

.experience-section {
    background: linear-gradient(270.16deg, rgba(255, 178, 71, 0.132) 5.74%, rgba(255, 108, 99, 0.1) 50.64%, rgba(184, 106, 223, 0.1) 92.05%);
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 632px;
    align-items: center;

}

.experience-right {
    width: 458.67px;
    height: 288px;
    top: 1417px;
    left: 193px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.experience-right p {
    font-family: Rubik;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);

}

.experience-right h3 {
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #FFFFFF;

}

.experience-right .experience-bio {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);

}



.experince-left-upper-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.experience-left .experince-left-upper-head .experince-left-upper-head-one {
    font-family: Rubik;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.experience-left .experince-left-upper-head .experince-left-upper-head-tow {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;

}

.experience-left .experince-left-lower-head {
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;

}

.experience-left .experince-left-lower-head h3 {
    border-bottom: 1px solid #FFFFFF;
    padding: 25px 0;
}

.awards-section {
    /* width: 1041px;
    height: 621px; */


    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center; */
    padding: 100px 0;
}

.award-head h3 {
    font-family: Rubik;
    font-size: 40px;
    font-weight: 800;
    line-height: 47.4px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.award-head p {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF80;
    width: 541px;
    margin: 0 auto;
    /* height: 42px; */

}

.app-design-contanier {
    margin: 50px 0;
}

.app-disign {
    background: #000;
    display: flex;
    padding: 40px 30px;
    justify-content: space-around;
    margin: 0 auto;
    width: 1041px;
    margin-bottom: 20px;
}

.app-disign .app-design-left h5 {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.app-disign .app-design-left p {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF80;
    width: 663px;
    height: 84px;
    gap: 0px;
    opacity: 0px;

}

.app-disign .app-design-right h6 {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    ;
}

.logo-section {
    width: 1445px;

    padding: 30px 0;
}

.logo-section h1 {
    width: 186px;
    height: 96px;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.03em;
    margin: 0 auto;
    color: #FD6F00;
    text-transform: uppercase;

}

.logo-section .link {
    text-align: center;
    padding: 50px 0;
}

.logo-section .link a {

    text-decoration: none;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
    margin-right: 25px;
}

.logo-social-icon {
    text-align: center;
    padding-bottom: 20px;
}

.logo-social-icon a {
    margin-right: 25px;
}

.footer {
    background: #121212;
    padding: 10px 0;
}

.footer h4 {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
}

.name {
    color: #FD6F00;

}


@media only screen and (max-width: 768px) {
    .banar {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .right h1 {
        width: 90%;
    }

    .experience-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .app-disign {
        width: 90%;
    }

    .app-disign .app-design-left {
        width: 70%;
    }

    .app-disign .app-design-left p {
        width: 90%;
        height: 20%
    }

    .logo-section {
        width: 100%;
    }

    .logo-section .link a {
        font-size: 18px;
        font-weight: 300;
        line-height: 31.5px;
        color: #FFFFFF;
        text-align: center;
        margin-right: 25px;
    }
}